@font-face {
    font-family: 'SourceCodePro-Regular';
    src: url('../../font/SourceCodePro-Regular.ttf') format('truetype');
}

body {
    background-color: rgb(15, 15, 15);
    color: #ffffff;
    font-family: "SourceCodePro-Regular", "Consolas", "Gothic UI", "Calibri", "Arial";
    height: 100%;
    width: var(---vw);
}

h1, h2 {
    display: block;
    text-align: center;
}

a {
    color: #3b88f5;
}

div {
    display: block;
    margin: 0 auto 20px;
    position: relative;
    width: 500px;
}

canvas {
    background-color: #ffffff;
}

@media screen and (max-width: 600px) {
    div {
        width: calc(var(--vvw) - 20px);
    }
}