@font-face {
    font-family: 'SourceCodePro-Regular';
    src: url('../../font/SourceCodePro-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
    background-color: rgb(15, 15, 15);
    color: #ffffff;
    font-family: "SourceCodePro-Regular", "Consolas", "Gothic UI", "Calibri", "Arial";
    height: 100%;
    width: 100%;
    margin: 0 0;
}

h1,
h2 {
    display: block;
    text-align: center;
}

a {
    color: #3b88f5;
}

section#graph {
    max-width: 700px;
    margin: 0 auto;
}

div {
    display: block;
    margin: 0 auto 20px;
    position: relative;
    width: 90%;
}

canvas {
    background-color: #ffffff;
}

#playtime {
    background-color: red;
}

#search-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    background-color: #22587d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#search-container {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#search-container input[type="text"] {
    width: calc(100% - 20px);
    /* subtract 10px of padding on each side */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#search-container button {
    background-color: #22587d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#search-container button:last-child {
    margin-right: 0;
}