@font-face {
    font-family: 'SourceCodePro-Regular';
    src: url('../../../font/SourceCodePro-Regular.ttf') format('truetype');
}

body {
    background-color: rgb(15, 15, 15);
    color: #ffffff;
    font-family: "SourceCodePro-Regular", "Consolas", "Gothic UI", "Calibri", "Arial";
    height: 100%;
}

#bar, #circle, #line {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    display: block;
    text-align: center;
}

a {
    color: #3b88f5;
}

div {
    margin-bottom: 30px;
    width: 100%;
}

canvas {
    background-color: #ffffff;
}