@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../../font/SourceCodePro-Regular.ttf') format('truetype');
  font-display: swap;
}

body {
  background-color: rgb(15, 15, 15);
  color: #ffffff;
  font-family: "SourceCodePro-Regular", "Consolas", "Gothic UI", "Calibri", "Arial";
  overflow: hidden;
  font-size: 16px;
  height: var(--vvh);
}

#login, #game, #loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading {
  text-align: center;
  white-space: nowrap;
}
#loading h1 {
  font-size: 3rem;
}
#loading p {
    font-size: 2rem;
}

#login h1 {
  font-size: 3rem;
  width: 100%;
  white-space: nowrap;
}
#login label, #login input, #login button {
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
#login h1, #login label {
  margin: 0;
}
#login form {
  display: block;
  justify-content: center;
  align-items: center;
}
#login label {
  align-items: flex-end;
}

#game, #login h1 {
  text-align: center;
}
#game p {
  width: var(--vvw);
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  transform: translateX(-50%);
  white-space: nowrap;
}
ruby {
  ruby-position: over;
}

#stats {
  width: var(--vvw);
  margin: 0 0 !important;
}
#history {
  position: absolute;
  white-space: nowrap;
  top: 0;
  left: 0;
  right: 0;
  height: var(--vvh);
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
#history table {
  table-layout: fixed;
  width: 50%;
  margin-top: 20px;
}

#stats td {
  overflow-x: auto !important;
}

#stats td:first-child {
  text-align: right;
}

#stats td:nth-child(2) {
  text-align: left;
}
#menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #262626;
  display: none;
}
#menuToggle {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  font-size: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10000;
  color: #ffffff;
}

#history, #title {
  font-size: 1.5rem;
}

#title {
  text-align: right;
  margin: 1rem;
  position: fixed;
  right: 0;
}

#link a {
  bottom: 1rem;
  color: #3b88f5;
  text-decoration: none;
  font-size: 1.5rem;
  z-index: 99999;
  position: fixed;
}
#link a:first-child {
  text-align: left;
  left: 1.5rem;
  width: 11ch;
}
#link a:nth-child(2) {
  text-align: right;
  right: 1.5rem;
  width: 7ch;
}

#settings {
  position: relative;
  float: right;
  width: 50%;
  height: var(--vvh);
  border-left: white solid 1px;
  z-index: 10001;
}
#settings h2 {
  text-align: center;
}
#settings table {
  table-layout: fixed;
  width: 100%;
}
#settings th:first-child, #settings td:first-child {
  text-align: right;
}
#settings th:nth-child(2), #settings td:nth-child(2) {
  text-align: left;
}
#settings th, #settings td {
  padding: 0.5rem;
}
#settings td:first-child::after {
  content: " ";
}
#settings td:nth-child(2) {
  cursor: pointer;
}

#typingInput {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  z-index: -99999999;
}

@media (min-width: 768px) {
  #term {
    font-size: 5vw;
    bottom: 9.25vw;
  }
  #def {
    font-size: 10vw;
    bottom: -3.5vw;
  }
  #word_count {
    font-size: 2vw;
    bottom: -6.75vw;
  }
}

@media (max-width: 768px) {
  #term {
    font-size: 10vw;
    bottom: 27.25vw;
  }
  #def {
    font-size: 20vw;
    bottom: 9.5vw;
  }
  #word_count {
    font-size: 4vw;
    bottom: 2.25vw;
  }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
    z-index: 1;
}

iframe {
    border: none;
    width: 80%;
    height: 80%;
}