body {
    background-color: rgb(15, 15, 15);
    color: #ffffff;
    font-family: "SourceCodePro-Regular", "Consolas", "Gothic UI", "Calibri", "Arial";
    width: var(--vvw);
    height: var(--vvh);
}